<!DOCTYPE html>
<html lang="en">
{% extends 'onlinegrocery/base.html' %}
{%load static %}
{% block content %}

<h1 class="headings"> OUR STORY</h1>
<div id="main-container">
    <div id="about-container">
        <div id="about-image-container">
            <img src={% static "img/whiteTshirt.jpg" %} alt="whiteTshirt">
        </div>
        <div id="about-description">
            <h4>Welcome to Online Grocery Shop!</h4>
            <p>
            </p>
        </div>
    </div>
</div>
{% endblock %}
</html>
