<!DOCTYPE html>
<html lang="en">
{% extends 'onlinegrocery/base.html' %}
{%load static %}
{% block content %}

<h1 class="headings"> About Us</h1>
<div id="main-container">
    <div id="about-container">
        <div id="about-image-container">
            <img src={% static "img/aboutus.png" %} alt="whiteTshirt">
        </div>
        <div id="about-description">

            <p>
                What started small, with a single discount store and the simple idea of selling more for less,
                has grown over the last 50 years into the largest retailer in the world.
                Each week, nearly 230 million customers and members visit approximately 10,800 stores and clubs
                under 51 banners in 25 countries and eCommerce websites. With fiscal year 2021
                revenue of $559 billion, We employs over 2.2 million associates worldwide.
                Walmart continues to be a leader in sustainability, corporate philanthropy and employment opportunity.
                It’s all part of our unwavering commitment to creating opportunities and bringing value to customers and
                communities around the world.

            </p>
        </div>
    </div>
</div>
{% endblock %}
</html>
