<!DOCTYPE html>
<html lang="en">
{% extends 'onlinegrocery/base.html' %}
{% block content %}

<h1 class="headings">Frequently asked questions</h1>
<div>
    <h3>Returns</h3>
    <p>
        Q: What do I do if I don’t have my receipt?<br>
        We will accept a return or exchange without a receipt if:<br>
1. You present a valid, government-issued photo ID that has not been altered in any way.<br>
2. The refund verification process accepts the return. If an item is returned without a receipt and the refund verification process accepts it, you can:<br>
a. Exchange the item(s).
b. Get a cash refund if the refund value of the returned item(s) is less than $25<br>
        3. If you do not have your receipt or order number, the store may be able to look up your purchase if you have:<br>
a. The credit or debit card used to make the purchase in-store.<br>
b. The email or phone number used to make the purchase online.<br>
        Q: How will I be refunded?<br>
If you return an item within the allowable return period with a receipt, the refund will be applied to the original method of payment. If you made the purchase using:<br>
Cash or check: You’ll receive a cash refund.<br>
    </p>

</div>
{% endblock %}
</html>
