<!DOCTYPE html>
<html lang="en">
{% extends 'onlinegrocery/base.html' %}

{% block content %}

    <html>
    <head>
        <meta charset="UTF-8">
        <title>Build Supply | Orders list</title>
    </head>
    <body>

    <div class="row">
        <h2 class="headings">Orders list</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover custom-table" id="categories-list">
            <thead>
            <tr>
                <th>Order Id</th>
                <th>Customer name</th>
                <th>email</th>
                <th>Address</th>
                <th>Payment status</th>
                <th>Order placed date</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.pk }}</td>
                    <td>{{ order.first_name }} {{ order.last_name }}</td>
                    <td>{{ order.email }}</td>
                    <td>{{ order.address }} {{ order.city }} {{ order.postal_code }}</td>
                    <td>{% if order.paid %} Paid {% else %} Pending {% endif %}</td>
                    <td>{{ order.created }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}
</html>